{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
    .footer {
        background-color: #212529; /* Fond sombre */
        padding: 20px 0;
        border-top: 1px solid #e7e7e7;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 9999;
        color: #f8f9fa; /* Texte clair pour un contraste élevé */
    }

    .footer p {
        margin: 0;
        padding: 5px;
        font-size: 14px;
    }

    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-icons i, .footer a {
        margin: 0 10px;
        font-size: 20px;
        cursor: pointer;
        transition: color 0.3s;
        color: #f8f9fa; /* Icônes et liens en blanc */
    }

    .footer-icons i:hover, .footer a:hover {
        color: #0097B2; /* Couleur au survol */
    }

    .footer a {
        text-decoration: none; /* Optionnel: supprime le soulignement des liens */
    }
</style>

<footer class="footer text-center">
    <div class="footer-icons">
        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="mailto:contact_us@belinked.com" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>
    <p>&copy; Copyright {% now 'Y' %} &middot; BeLinked &middot; All rights reserved!</p>
    <p>Follow us: Be Linked on Facebook | BeLinked on Instagram</p>
    <p>Contact: <a href="mailto:contact_us@belinked.com">contact_us@belinked.com</a></p>
</footer>
