{% load static %}
{% load i18n %}

<style>
    .dropdown-toggle {
        color: #0097B2; /* Remplacez la couleur par celle de votre choix */
    }
    .custom-link {
        color: #0097B2 !important; /* Remplacez la couleur par celle de votre choix */
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #444444;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'default' %}">
            <img src="{% static 'images/logo_bleu.png' %}" alt="Logo" style="width: 150px;">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link custom-link" href="{% url 'default' %}">{% trans "Home" %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link custom-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Login' %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'login' %}">{% trans 'Mentee' %}</a>
                            <a class="dropdown-item" href="{% url 'mentor_login' %}">{% trans 'Mentor' %}</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
