{% extends 'base_site.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Log In Page" %}{% endblock %}

{% block navbar %}
    {% include 'registration/user_nav.html' %}
{% endblock %}

{% block content %}
    <style>

        .login-body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0; /* Enlève les marges par défaut */
            background: #f4f7f6; /* Ou la couleur de fond de votre choix */
        }

        .login-container {
            width: 100%; /* ou une largeur fixe, si vous préférez */
            max-width: 400px; /* ou la largeur maximale que vous souhaitez pour votre conteneur */
            margin: auto; /* assurez-vous que le conteneur reste centré même dans une fenêtre de taille supérieure */
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* pour l'effet de profondeur */
            border-radius: 5px; /* pour des coins arrondis */
            background: white; /* ou la couleur de fond de votre choix pour le conteneur */
        }

        .login-form h2 {
            margin-bottom: 20px;
            color: #333;
            text-align: center;
        }

        .btn-login {
            width: 100%;
            padding: 10px;
            border: none;
            background: #009578;
            color: white;
            margin-top: 15px;
            cursor: pointer;
        }

        .btn-login:hover {
            background: #007a63;
        }

        .login-links p {
            text-align: center;
            margin-top: 10px;
        }

        .login-links a {
            color: #009578;
            text-decoration: none;
        }

        .login-links a:hover {
            text-decoration: underline;
        }

    </style>
    <body class="login-body">
    <div class="login-container">
        <form method="post" class="login-form">
            {% csrf_token %}
            <h2>{% trans "Welcome Back!" %}</h2>
            {{ form|crispy }}
            <button type="submit" class="btn-login">{% trans "Login" %}</button>
        </form>
        <div class="login-links">
            <p><a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a></p>
            <p>{% trans "Do you have an account ?" %} <a href="{% url 'mentor_signup' %}">{% trans "Sign up" %}</a></p>
        </div>
    </div>
    </body>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
