{% extends "registration/mentor_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load custom_filters %}
{% block title %}{% trans 'Mentor Page' %}{% endblock %}

{% block extra_styles %}
<style>
    .dropdown-menu {
        max-height: 400px;  /* Ou une autre valeur qui vous convient */
        overflow-y: auto;
    }

    @media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        }
    }
    .calendar {
        width: 500px;
        margin: 50px auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    }

    .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .days, .dates {
        display: flex;
        flex-wrap: wrap;
    }

    .days div, .dates div {
        width: 14.28%; /* 100% / 7 */
        text-align: center;
        padding: 10px 0;
    }

    .dates div {
        cursor: pointer;
    }

    .dates div:hover {
        background-color: #f0f0f0;
    }


    #saveDatesBtn:hover {
        background-color: #45a049;
    }

    .calendar {
        position: relative;
        /* Other styling for the container if needed */
    }

    #saveDatesBtn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav-link {
        color: #0097b2 !important;
    }

    .messages-box {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 1000;
        max-height: 600px;
        overflow: auto;
        display: none; /* Caché par défaut */
    }

    .messages-header {
        background-color: #007bff;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .messages-header h4 {
        margin: 0;
    }

    .messages-header button {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }

    .message-item {
        padding: 10px;
        border-bottom: 1px solid #f0f0f0;
    }

    .message-item.read {
        background-color: #e9ecef;
    }

    .message-item p {
        margin: 0;
    }

    .reply-form {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .reply-form textarea {
        margin-bottom: 10px;
    }

    .btn-reply {
        margin-top: 10px;
    }


</style>
{% endblock %}

{% block navbar %}
<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #444444;">

        <img src="{% static 'images/logo_bleu.ico' %}" width="130" height="130" alt="Logo">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ml-auto">
            <a class="nav-link" href="{% url 'reverse_mentoring' %}">{% trans 'Reverse mentoring' %}</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell"></i> Notifications <span class="badge badge-light">{{ notifications.count }}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="notificationDropdown">
                    {% for notification in notifications %}
                        <a class="dropdown-item {% if not notification.read %}font-weight-bold{% endif %} notification-link" href="{% url 'user_request' notification.id %}"
                           data-notification-id="{{ notification.id }}">
                            {{ notification.message }}
                        </a>
                    {% endfor %}
                    {% if notifications.count == 0 %}
                        <a class="dropdown-item" href="#">{% trans 'No notification' %}</a>
                    {% endif %}
                    {% if notifications.count > 0 %}
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item clear_all_notifications" href="{% url 'clear_all' %}">{% trans 'Clear All Notifications' %}</a>
                        <a class="dropdown-item" href="{% url 'all_notifications' %}">{% trans 'View All Notifications' %}</a>
                    {% endif %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        {% trans 'User' %}
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="userDropdown">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'create_profile' %}">{% trans 'My profile' %}</a>
                        <a class="dropdown-item" href="{% url 'mentor_settings' %}">{% trans 'Settings'%}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">{%  trans 'Logout' %}</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">{% trans 'Login' %}</a>
                    {% endif %}
                </div>
            </li>
        </ul>

    </div>
</nav>
{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans 'Welcome to the mentor page!' %}</h1>
    <h2 class="text-center">{% trans 'Manage your availability with your calendar' %}</h2>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- Colonne du calendrier -->
            <div class="col-md-6">
                <div class="calendar">
                    <!-- En-tête du calendrier -->
                    <div class="calendar-header">
                        <button onclick="prevMonth()">Previous</button>
                        <h2 id="monthYear"></h2>
                        <button onclick="nextMonth()">Next</button>
                    </div>
                    <!-- Jours de la semaine -->
                    <div class="days">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <!-- Dates du calendrier -->
                    <div id="dates" class="dates">
                        <!-- Les dates seront générées ici -->
                    </div>
                    <form action="{% url 'display' %}" method="post">
                        {% csrf_token %}
                        <!-- Champs pour les horaires de disponibilité -->
                        <div class="availability-times">
                            <label for="startTime">{% trans 'Start time :' %}</label>
                            <input type="time" id="startTime" name="start_time">

                            <label for="endTime">{% trans 'End time :' %}</label>
                            <input type="time" id="endTime" name="end_time">
                        </div>
                        <button type="submit" id="saveDatesBtn">{% trans 'Save dates' %}</button>
                    </form>

                </div>
            </div>


        </div>
    </div>

    <div id="messagesBox" class="messages-box">
        <div class="messages-header">
            <h4>{% trans 'Messages' %}</h4>
            <button id="closeMessagesBox" class="btn btn-light">X</button>
        </div>
        <div class="messages-list">
            <!-- Itérer sur le dictionnaire messages_by_sender au lieu de received_messages -->
            {% for sender_username, messages in grouped_messages.items %}
                <!-- Utilisez sender_username pour afficher le nom de l'expéditeur -->
                <h5>{{ sender_username }}</h5>
                <!-- Itérer sur les messages pour cet expéditeur -->
                {% for message in messages %}
                    <div class="message-item {% if message.is_read %}read{% else %}unread{% endif %}">
                        <p><strong>Subject:</strong> {{ message.subject }}</p>
                        <p>{{ message.body }}</p>
                        <!-- Bouton pour afficher le formulaire de réponse -->
                        <button class="btn btn-reply"
                                data-recipient-id="{{ message.sender.id }}"
                                data-subject="{{ message.subject }}"
                                data-message-id="{{ message.id }}">
                            {% trans 'Reply' %}
                        </button>
                        <!-- Formulaire de réponse, caché initialement -->
                        <div class="reply-form" id="reply-form-{{ message.id }}" style="display: none;">
                            <textarea class="form-control" id="reply-text-{{ message.id }}"></textarea>
                            <button class="btn btn-primary" onclick="sendReply('{{ message.id }}', document.getElementById('reply-text-{{ message.id }}').value)">
                                {% trans 'Send Reply' %}
                            </button>
                        </div>
                        <!-- Affichage des réponses -->
                        <div class="replies">
                            {% for reply in message.reply_to.all %}
                                <div class="reply-item">
                                    <p><strong>From:</strong> {{ reply.sender.username }}</p>
                                    <p>{{ reply.body }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% empty %}
                <div class="message-item">
                    <p>{% trans 'No messages' %}</p>
                </div>
            {% endfor %}
        </div>

    </div>


    <!-- Placez ceci où vous souhaitez que le bouton apparaisse dans votre code HTML -->
    <div class="d-flex justify-content-end">
        <button id="openMessagesBox" class="btn btn-primary">{% trans 'Show Messages' %}</button>
    </div>

{% endblock %}

{% block extra_scripts %}

    <script>
        const disponibiliteURL = "{% url 'disponibilite' %}";
        document.addEventListener('DOMContentLoaded', function() {
            // Sélectionner la boîte de messages
            var messagesBox = document.getElementById('messagesBox');
            // Pour ouvrir la boîte de messages
            var openMessagesBtn = document.getElementById('openMessagesBox');
            if (openMessagesBtn) {
                openMessagesBtn.addEventListener('click', function() {
                    document.getElementById('messagesBox').style.display = 'block';
                });
            }

            // Pour fermer la boîte de messages
            var closeMessagesBox = document.getElementById('closeMessagesBox');
            if (closeMessagesBox) {
                closeMessagesBox.addEventListener('click', function() {
                    document.getElementById('messagesBox').style.display = 'none';
                });
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            // Ajouter des écouteurs d'événement pour les boutons de réponse et d'envoi de réponse
            document.querySelectorAll('.btn-reply, .btn-send-reply').forEach(function(btn) {
                btn.addEventListener('click', function() {
                    var messageId = this.getAttribute('data-message-id');
                    if (this.classList.contains('btn-reply')) {
                        // Afficher le formulaire de réponse
                        document.getElementById('reply-form-' + messageId).style.display = 'block';
                    } else {
                        // Envoyer la réponse
                        var recipientId = this.getAttribute('data-recipient-id');
                        var subject = this.getAttribute('data-subject');
                        var replyText = document.getElementById('reply-text-' + messageId).value;
                        sendReply(recipientId, subject, messageId, replyText);
                    }
                });
            });
        });

        function sendReply(originalMessageId, replyText) {
            fetch('{% url 'send_reply' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: `original_message_id=${encodeURIComponent(originalMessageId)}&body=${encodeURIComponent(replyText)}`
            })
                .then(response => response.json())
                .then(data => {
                    alert('Reply sent!');
                    // Logique supplémentaire pour gérer la réponse
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}



