{% load crispy_forms_tags %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>{% block title %}User Page{% endblock %}</title>
</head>
{% include 'registration/user_nav.html' %}
<div class="wrapper">
    {% block content %}

        <h1>You can now search for your future mentor ! </h1>

        <form method="post" action="{% url 'matching' %}">
            <div class="form-group">
                <label for="id_Domains">Domain</label>
                <input type="text" class="form-control" id="id_Domains" name="Domain" placeholder="Enter your domain">
            </div>
            <div class="form-group">
                <label for="id_Diplomas">Diplomas</label>
                <input type="text" class="form-control" id="id_Diplomas" name="Diplomas" placeholder="Enter your diploma">
            </div>
            <div class="form-group">
                <label for="id_Skills">Skills</label>
                <input type="text" class="form-control" id="id_Skills" name="Skills" placeholder="Enter your skills">
            </div>
            <div class="form-group">
                <label for="id_Career_objectives">Career Objectives</label>
                <input type="text" class="form-control" id="id_Career_objectives" name="Career_objectives" placeholder="Enter your career objectives">
            </div>
            <div class="form-group">
                <label for="id_Professions">Professions</label>
                <input type="text" class="form-control" id="id_Professions" name="Professions" placeholder="Enter your professions">
            </div>
            <div class="form-group">
                <label for="id_Personality">Personality</label>
                <input type="text" class="form-control" id="id_Personality" name="Personality" placeholder="Describe your personality">
            </div>

            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Find</button>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    {% endblock %}
</div>
{% include 'footer.html' %}