{% extends 'base_site.html' %}
{% load static %}
{% load i18n %}

{% block extra_styles %}
    <style>
        .mentor-profile-card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        .profile-picture {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border: 3px solid #ddd;
            margin-top: 20px;
        }

        @media (max-width: 767px) {
            .profile-picture {
                width: 200px; /* Taille ajustée pour les petits écrans */
                height: 200px;
            }
        }

    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #444444;">
        <img src="{% static 'images/logo_bleu.ico' %}" width="130" height="130" alt="Logo">
        <div class="ml-auto">
            <a class="btn btn-link" href="{% url 'user_page' %}">{% trans 'Home' %}</a>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container my-4">
        <div class="mentor-profile-card p-4 shadow">
            <div class="row">
                <!-- Section Photo -->
                <div class="col-md-4 text-center">
                    <img src="{{ mentor.profile.avatar.url }}" alt="{% trans 'Profile Picture' %}" class="img-fluid rounded-circle profile-picture">
                </div>

                <!-- Section Informations -->
                <div class="col-md-8">
                    <h2>{{ mentor.first_name }} {{ mentor.last_name }}</h2>
                    <p>{{ mentor.profile.description }}</p>
                    <ul class="list-unstyled">
                        <li><strong>{% trans 'Phone:' %}</strong> {{ mentor.profile.phone }}</li>
                        <li><strong>{% trans 'Address:' %}</strong> {{ mentor.profile.address }}</li>
                        <li><strong>{% trans 'Skills:' %}</strong> {{ mentor.Skills }}</li>
                        <li><strong>{% trans 'Objectives:' %}</strong> {{ mentor.Objectives }}</li>
                        <li><strong>{% trans 'Job:' %}</strong> {{ mentor.Job }}</li>
                        <!-- Ajoutez d'autres champs si nécessaire -->
                    </ul>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" data-mentor-id="{{ mentor.id }}">{% trans 'Send a request' %}</button>

    </div>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            $(".btn-primary").click(function() {
                var mentorId = $(this).data('mentor-id');
                var mentorFirstName = $(this).data("mentor-first-name");
                var mentorLastName = $(this).data("mentor-last-name");

                // Récupération de la date et de l'heure actuelles
                var currentDate = new Date();
                var dateString = currentDate.toISOString().split('T')[0];  // Format 'YYYY-MM-DD'
                var timeString = currentDate.toTimeString().split(' ')[0];  // Format 'HH:MM:SS'

                $.ajax({
                    type: "POST",
                    url: "{% url 'send_request' %}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        mentor_first_name: mentorFirstName,
                        mentor_last_name: mentorLastName,
                        mentor_id: mentorId,
                        mentore_id: '{{ user.id }}',
                        date: dateString,
                        time: timeString
                    },
                    success: function(data) {
                        if(data.success) {
                            alert("Request sent!");
                        } else {
                            alert("Error sending request!");
                        }
                    }
                });
            });
        });


    </script>
{% endblock %}